<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>雪梨教育用户关系</title>
    <!-- 引入 echarts.js -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/echarts.js"></script>
    <style>
        html,body{ height:100%;}
        body,div{ margin:0; padding:0;}
        * html{ padding-top:100px;}/*for ie6*/
        * html { height:100px; position:absolute; top:0; width:100%;}/*for ie6*/
        .main{ position:absolute; width:100%; bottom:0; overflow:auto;}
        * html .main{ position:static; height:100%;}/*for ie6*/
    </style>
</head>
<body id="main" class="main">
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <!--<div id="main" style="width: 1400px;height:700px;"></div>-->
<script>
    var myChart = echarts.init(document.getElementById('main'));
</script>
</body>
</html>
<script src="/static/js/mian.js"></script>
